:root {
  /* --primary-text-color: #757575; */
  /* --primary-white-color: #ffffff; */
  /* --title-text-color: #212121; */
  /* --accent-color: #2196f3; */
  /* --accent-hero-btn-color: #188ce8; */
  /* --header-logo-color: #000000; */
  /* --second-background-color: #f5f4fa; */
  /* --hero-background-color: #c4c4c4; */
  /* --footer-background-color: #2f303a; */
  /* --services-name-background-color: rgba(47, 48, 58, 0.8); */
  /* --background-color-everflow: rgba(33, 150, 243, 0.9); */
  /* --footer-contacts-color: rgba(255, 255, 255, 0.6); */
  /* --footer-socials-color: rgba(255, 255, 255, 0.1); */
  /* --linear-gradient-color: rgba(47, 48, 58, 0.4); */
  /* --border-color: #ececec; */
  /* --second-border-color: #eeeeee; */
  /* --icon-fill-color: #afb1b8; */

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
} */

/* Страница */
/* .page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
} */

/* Секция */
/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .section--hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-background-color);
  background-image: linear-gradient(var(--linear-gradient-color), var(--linear-gradient-color)),
    url(../images/index/Img8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .section--services {
  padding-top: 0;
} */

/* .section--team {
  background-color: var(--second-background-color);
} */

/* .section__title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* .section__title--hero {
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
} */

/* .section__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
} */

/* Контейнер */
/* .container {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/* .container--hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* Сетка */
/* .grid {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
} */

/* .grid__item {
  margin-left: 30px;
  margin-top: 30px;
} */

/* .grid__item--col-3 {
  flex-basis: calc(100% / 3 - 30px);
  min-width: 370px;
}

.grid__item--col-4 {
  flex-basis: calc(100% / 4 - 30px);
  min-width: 270px;
}

.grid__item--col-6 {
  flex-basis: calc(100% / 6 - 30px);
  min-width: 170px;
} */

/* Кнопка */
/* .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-duration) var(--transition-timing-function);

  cursor: pointer;
} */

/* .btn:hover,
.btn:focus {
  background-color: var(--accent-hero-btn-color);
} */

.btn__icon {
  fill: currentColor;
}

/* .btn__icon--end {
  margin-left: 10px;
} */

/* .btn-close {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  color: var(--header-logo-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--primary-white-color);

  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-timing-function);
} */

/* .btn-close:hover,
.btn-close:focus {
  color: var(--accent-color);
} */

.btn-close__icon {
  fill: currentColor;
}

/* Лого */
.logo {
  /* font-family: Raleway; */
  font-style: normal;
  /* font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em; */

  /* color: var(--header-logo-color); */

  text-decoration: none;
}

/* .logo__web {
  color: var(--accent-color);
} */

/* Хедер */
/* .header {
  border-bottom: 1px solid var(--border-color);
} */

/* .header__container {
  display: flex;
  align-items: center;
} */

/* .header__logo {
  padding-top: 25px;
  padding-bottom: 25px;
} */

/* .header__nav {
  margin-left: 93px;
} */

/* .header__contacts {
  margin-left: auto;
} */

/* Панель навигации */
/* .nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
} */

/* .nav__list {
  display: flex;
  height: 100%;
  list-style: none;
  margin-left: -50px;
} */

/* .nav__item {
  position: relative;
  margin-left: 50px;
} */

.nav__link {
  /* display: inline-block; */
  /* padding-top: 32px;
  padding-bottom: 32px; */

  text-decoration: none;

  /* color: var(--title-text-color); */

  /* transition: color var(--transition-duration) var(--transition-timing-function); */
}

/* .nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
} */

/* .nav__link--current {
  color: var(--accent-color);
} */

/* .nav__link--current::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
} */

/* Список контактов */
/* .contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
} */

/* .contacts__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: -50px;
} */

/* .contacts__item {
  margin-left: 50px;
} */

.contacts__link {
  /* display: flex;
  align-items: center; */
  /* padding-top: 32px;
  padding-bottom: 32px; */

  /* color: var(--primary-text-color); */
  text-decoration: none;

  /* transition: color var(--transition-duration) var(--transition-timing-function); */
}

/* .contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
} */

.contacts__icon {
  /* margin-right: 10px; */
  fill: currentColor;
}

/* Подвал */
/* .footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);
} */

/* .footer__container {
  display: flex;
  align-items: baseline;
} */

/* .footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
} */

/* .footer__joining {
  margin-left: 70px;
} */

/* .footer__subscription {
  margin-left: auto;
} */

/* Адрес компании */
.address {
  /* color: var(--primary-white-color); */
  font-style: normal;
  /* font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em; */
}

/* .address__list {
  list-style: none;
  margin-bottom: -9px;
}

.address__item {
  margin-bottom: 9px;
} */

.address__link {
  /* color: var(--footer-contacts-color); */
  text-decoration: none;

  /* transition: color var(--transition-duration) var(--transition-timing-function); */
}

/* .address__link:hover,
.address__link:focus {
  color: var(--accent-color);
} */

/* Присоединяйтесь */
/* .joining {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
} */

/* .joining__title {
  margin-bottom: 20px;

  text-transform: uppercase;
} */

/* Социальные сети */
/* .socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: -10px;
} */

/* .socials__item {
  margin-left: 10px;
} */

/* .socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--primary-white-color);
  background-color: var(--footer-socials-color);

  transition: background-color var(--transition-duration) var(--transition-timing-function);
} */

.socials__link--team {
  /* color: var(--icon-fill-color); */
  background-color: transparent;
}

/* .socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
} */

/* .socials__link--team:hover,
.socials__link--team:focus {
  color: var(--primary-white-color);
} */

.socials__icon {
  fill: currentColor;
}

/* Подписка */
/* .subscription {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
} */

/* .subscription__form {
  display: flex;
  align-items: flex-end;
} */

/* .subscription__label {
  display: flex;
  flex-direction: column;
  margin-right: 12px;

  text-transform: uppercase;
} */

/* .subscription__input {
  margin-top: 20px;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: var(--primary-white-color);

  transition: border var(--transition-duration) var(--transition-timing-function);
} */

/* .subscription__input:focus {
  border-color: var(--primary-white-color);
} */

.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Преимущества */
/* .feature__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;

  background-color: var(--second-background-color);
} */

.feature__title {
  /* margin-bottom: 10px; */

  font-style: normal;
  /* font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em; */
  /* text-transform: uppercase; */

  /* color: var(--title-text-color); */
}

/* .feature__desc {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */

/* Направления работы */
/* .services {
  position: relative;
} */

/* .services__image {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .services__title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;

  color: var(--primary-white-color);
  background: var(--services-name-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */

/* Сотрудники */
/* .team-card {
  background: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */

/* .team-card__image {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .team-card__desc {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
} */

/* .team-card__name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
} */

/* .team-card__text {
  margin-bottom: 16px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
} */

/* Клиенты */
/* .customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  color: var(--icon-fill-color);

  transition: border-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
} */

/* .customers__link:hover,
.customers__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
} */

.customers__icon {
  fill: currentColor;
}

/* Радиокнопки фильтра */
/* .radio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: -8px;
} */

/* .radio__label {
  display: inline-block;
  padding-top: 4px;
  padding-right: 20px;
  padding-bottom: 4px;
  padding-left: 20px;
  margin-left: 8px;
  border-radius: 4px;
  border: 2px solid transparent;

  background-color: var(--second-background-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  transition: box-shadow var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);

  cursor: pointer;
} */

.radio__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio__input:checked + .radio__label {
  /* background-color: var(--accent-color); */
  /* color: var(--primary-white-color); */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Примеры работ */
/* .projects-card {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
} */

.projects-card__link {
  /* display: block; */
  text-decoration: none;

  /* transition: box-shadow var(--transition-duration) var(--transition-timing-function); */
}

.projects-card__link:hover,
.projects-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-card__overflow {
  /* position: relative; */
  overflow: hidden;
}

/* .projects-card__image {
  display: block;
  max-width: 100%;
  height: auto;
} */

.projects-card__text {
  /* position: absolute;
  top: 0;
  left: 0; */

  /* height: 100%; */
  /* padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px; */

  /* color: var(--primary-white-color); */
  /* background: var(--background-color-everflow); */

  transform: translateY(101%);
  /* transition: transform var(--transition-duration) var(--transition-timing-function); */
}

.projects-card__link:hover .projects-card__text,
.projects-card__link:focus .projects-card__text {
  transform: translateY(0);
}

/* .projects-card__desc {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--second-border-color);
  border-bottom: 1px solid var(--second-border-color);
  border-left: 1px solid var(--second-border-color);
} */

/* .projects-card__name {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
} */

/* .projects-card__type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
} */

/* Модальное окно */
.backdrop {
  /* position: fixed;
  top: 0;
  left: 0; */

  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;

  background: rgba(0, 0, 0, 0.2);
  /* transition: opacity var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function); */
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* модалка */
.modal {
  /* position: absolute;
  top: 50%;
  left: 50%; */

  /* background: var(--primary-white-color); */

  /* width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); */

  transform: translate(-50%, -50%) scale(1);
  /* transition: transform var(--transition-duration) var(--transition-timing-function); */
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

/* .modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
} */

/* .modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-text-color);
} */

/* .modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* Группа инпутов */
/* .input-group {
  width: 100%;
} */

/* .input-group__label {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  cursor: pointer;
} */

.input-group__input {
  /* box-sizing: border-box;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px; */
  /* padding: 0 42px; */
  /* margin-top: 4px; */
  /* transition: border var(--transition-duration) var(--transition-timing-function); */

  cursor: pointer;
}

/* .input-group__input:focus {
  border-color: var(--accent-color);
} */

.input-group__icon {
  /* position: absolute;
  bottom: 20px;
  left: 12px; */

  transform: translateY(50%);
  /* transition: fill var(--transition-duration) var(--transition-timing-function); */
}

/* .input-group__input:focus + .input-group__icon {
  fill: var(--accent-color);
} */

/* Комментарий */
/* .comment {
  width: 100%;
} */

/* .comment__label {
  display: block;

  margin-bottom: 20px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  cursor: pointer;
} */

/* .comment__text {
  display: block;
  margin-top: 4px;
  padding: 12px 16px;

  box-sizing: border-box;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;

  transition: border var(--transition-duration) var(--transition-timing-function);

  cursor: pointer;
} */

/* .comment__text:focus {
  border-color: var(--accent-color);
} */

.comment__text::placeholder {
  /* font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em; */

  color: rgba(117, 117, 117, 0.5);
}

/* Соглашение на рассылку */
/* .checkbox {
  width: 100%;
} */

/* .checkbox__label {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding-left: 37px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
} */

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* .checkbox__policy {
  color: var(--accent-color);
} */

.checkbox__icon--off-checked {
  /* position: absolute;
  top: 50%;
  left: 14px; */
  transform: translateY(-50%);
  opacity: 1;
  /* fill: var(--title-text-color); */

  /* transition: fill var(--transition-duration) var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function); */
}

/* .checkbox__input:focus ~ .checkbox__icon--off-checked {
  fill: var(--accent-color);
} */

.checkbox__input:checked ~ .checkbox__icon--off-checked {
  opacity: 0;
}

.checkbox__icon--on-checked {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  opacity: 0;

  /* transition: opacity var(--transition-duration) var(--transition-timing-function); */
}

.checkbox__input:checked ~ .checkbox__icon--on-checked {
  opacity: 1;
}
