.input-group {
  width: 100%;

  &__label {
    @include position(relative, null, null, null, null);
    @include margin(null, null, 10px, null);
    @include font(400, 12px, 1.17, 00.01em);

    @extend %style--input-group__label;

    color: getColor('primary');

    @extend %pointerCursor;
  }

  &__input {
    @include margin(4px, null, null, null);
    @include padding(0, 42px, 0, 42px);

    @extend %style--input-group__input;

    @include transition(border, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

    @extend %pointerCursor;

    &:focus {
      border-color: getColor('accent');
    }
  }

  &__icon {
    @include position(absolute, null, null, 20px, 12px);

    transform: translateY(50%);

    @include transition(fill, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
  }

  &__input:focus + &__icon {
    fill: getColor('accent');
  }
}
