.logo {
  font-family: $logo-font;
  font-style: normal;

  @include font(700, 26px, 1.19, 00.03em);

  color: getColor('logo');

  text-decoration: none;

  &__web {
    color: getColor('accent');
  }
}
