.modal {
  @include position(absolute, 50%, null, null, 50%);
  @include padding(40px, 40px, 40px, 40px);

  @extend %style--modal;

  background: getColor('secondary');

  transform: translate(-50%, -50%) scale(1);

  @include transition(transform, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  .backdrop--is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }

  &__btn-close {
    @include position(absolute, 8px, 8px, null, null);
  }

  &__title {
    @include margin(null, null, 12px, null);

    @include font(700, 20px, 1.15, 00.03em);

    @extend %centerText;

    color: getColor('text');
  }

  &__form {
    @include flex(column, null, center, center);
  }
}
