.projects {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  &__link {
    display: block;
    text-decoration: none;

    transition: box-shadow $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__overflow {
    position: relative;
    overflow: hidden;
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    color: $primary-white-color;
    background: $background-color-everflow;

    transform: translateY(101%);
    transition: transform $transition-duration $transition-timing-function;
  }

  &__link:hover &__text,
  &__link:focus &__text {
    transform: translateY(0);
  }

  &__desc {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid $second-border-color;
    border-bottom: 1px solid $second-border-color;
    border-left: 1px solid $second-border-color;
  }

  &__name {
    margin-bottom: 4px;

    color: $title-text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__type {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
}
