// .radio {
//   @include flex(null, null, center, null);
//   @include margin(null, null, 50px, -8px);

//   &__label {
//     @extend %inlineBlock;
//     @include margin(null, null, null, 8px);
//     @include padding(4px, 20px, 4px, 20px);

//     @extend %style--radio__label;

//     background-color: getColor('background');
//     color: getColor('text');
//     @include font(500, 16px, 1.62, 00.03em);

//     @extend %centerText;

//     @include transition(box-shadow, background-color, color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

//     @extend %pointerCursor;
//   }

//   &__input {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//   }

//   &__input:checked + &__label {
//     background-color: getColor('accent');
//     color: getColor('secondary');
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 2px 2px rgba(0, 0, 0, 0.12);
//   }
// }
