%visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

%background--hero {
  background-color: getColor('background--hero');
  background-image: linear-gradient(getColor('gradient--hero'), getColor('gradient--hero')),
    url(../images/index/Img8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

%uppercaseText {
  text-transform: uppercase;
}

%centerText {
  text-align: center;
}

%inlineBlock {
  display: inline-block;
}

%block {
  display: block;
}

%image-block {
  display: block;
  max-width: 100%;
  height: auto;
}

%noListStyle {
  list-style: none;
}

%pointerCursor {
  cursor: pointer;
}

%style--btn {
  width: 200px;
  height: 50px;

  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

%style--btn-close {
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

%style--currentLink {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: getColor('accent');
}

%style--socialsLink {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

%style--subscription__input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

%style--feature__icon-box {
  width: 270px;
  height: 120px;
  border-radius: 4px;
}

%style--team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

%style--customers__link {
  width: 170px;
  height: 92px;

  border: 1px solid getColor('icon-link');
  border-radius: 4px;
}

%style--radio__label {
  border-radius: 4px;
  border: 2px solid transparent;
}

%style--projects-card__desc {
  border-right: 1px solid getColor('border--projects-card');
  border-bottom: 1px solid getColor('border--projects-card');
  border-left: 1px solid getColor('border--projects-card');
}

%style--modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

%style--input-group__label {
  display: block;
  width: 100%;
}

%style--input-group__input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

%style--comment__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
}
