$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-hero-btn-color: #188ce8;
$primary-white-color: #ffffff;
$header-logo-color: #000000;
$footer-background-color: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-socials-color: rgba(255, 255, 255, 0.1);
$linear-gradient-color: rgba(47, 48, 58, 0.4);
$services-name-background-color: rgba(47, 48, 58, 0.8);
$second-background-color: #f5f4fa;
$border-color: #ececec;
$second-border-color: #eeeeee;
$hero-background-color: #c4c4c4;
$icon-fill-color: #afb1b8;
$background-color-everflow: rgba(33, 150, 243, 0.9);

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
